# Ignore everything
*

# But not these files...
!.gitignore
!readme.txt

# IDPAY
!admin/
admin/*
!catalog/
catalog/*
!admin/view/
admin/view/*
!catalog/view/
catalog/view/*
!catalog/model/
catalog/model/*
!admin/language/
admin/language/*
!admin/controller/
admin/controller/*
!admin/view/image/
admin/view/image/*
!catalog/language/
catalog/language/*
!catalog/controller/
catalog/controller/*
!catalog/view/theme/
catalog/view/theme/*
!admin/view/template/
admin/view/template/*
!admin/language/en-gb/
admin/language/en-gb/*
!admin/language/fa-ir/
admin/language/fa-ir/*
!catalog/language/en-gb/
catalog/language/en-gb/*
!catalog/language/fa-ir/
catalog/language/fa-ir/*
!catalog/model/extension/
catalog/model/extension/*
!admin/view/image/payment/
admin/view/image/payment/*
!admin/view/image/payment/idpay.png
!admin/controller/extension/
admin/controller/extension/*
!catalog/view/theme/default/
catalog/view/theme/default/*
!catalog/controller/extension/
catalog/controller/extension/*
!admin/view/template/extension/
admin/view/template/extension/*
!admin/language/en-gb/extension/
admin/language/en-gb/extension/*
!admin/language/fa-ir/extension/
admin/language/fa-ir/extension/*
!catalog/model/extension/payment/
catalog/model/extension/payment/*
!catalog/model/extension/payment/idpay.php
!catalog/language/en-gb/extension/
catalog/language/en-gb/extension/*
!catalog/language/fa-ir/extension/
catalog/language/fa-ir/extension/*
!admin/controller/extension/payment/
admin/controller/extension/payment/*
!admin/controller/extension/payment/idpay.php
!catalog/view/theme/default/template/
catalog/view/theme/default/template/*
!catalog/controller/extension/payment/
catalog/controller/extension/payment/*
!catalog/controller/extension/payment/idpay.php
!admin/view/template/extension/payment/
admin/view/template/extension/payment/*
!admin/view/template/extension/payment/idpay.twig
!admin/language/en-gb/extension/payment/
admin/language/en-gb/extension/payment/*
!admin/language/en-gb/extension/payment/idpay.php
!admin/language/fa-ir/extension/payment/
admin/language/fa-ir/extension/payment/*
!admin/language/fa-ir/extension/payment/idpay.php
!catalog/language/en-gb/extension/payment/
catalog/language/en-gb/extension/payment/*
!catalog/language/en-gb/extension/payment/idpay.php
!catalog/language/fa-ir/extension/payment/
catalog/language/fa-ir/extension/payment/*
!catalog/language/fa-ir/extension/payment/idpay.php
!catalog/view/theme/default/template/extension/
catalog/view/theme/default/template/extension/*
!catalog/view/theme/default/template/extension/payment/
catalog/view/theme/default/template/extension/payment/*
!catalog/view/theme/default/template/extension/payment/idpay.twig
!catalog/view/theme/default/template/extension/payment/idpay_confirm.twig
